* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  @media (min-width: 768px) { 
    font-size: 12px;
  }
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: white;
  --text-color: black;
  --border-color: #555;
  --icon-background-color: #f0f0f0;
}

/* Define the dark mode variables */
[data-theme="dark"] {
  --primary-color: #375a7f;
  --secondary-color: #444;
  --background-color: #333;
  --text-color: white;
  --border-color: #888;
  --icon-background-color: #444;
}